<!DOCTYPE html>
<html lang="en">
   <head>
	<title>Making project</title>
	<meta charset ="utf-8">
   </head>
   <body>
	 
         <div id="base">HUSNA </div>
             
             <div class ="names">
                <P class="pbi">PUNJABI</P>
                <P class="urdu">URDU</P>
             </div>
       	    <div class="container">     
                <textarea class="psearch" id="first"></textarea>
                <textarea class="usearch" id="second"></textarea>
            </div>
 

 
           
            

	

         </div>

   </body>


</html>
